form.well.form-inline.center.form_post(method='post' action='/post')
  .form-group
    label.exampleInputPassword1 发表说说
    input.form-control#exampleInputPassword1(type='text',placeholder="password",name='post')
  button.btn.btn-primary(type='submit') 提交